body 
{    
background:#eee;    
font-family: Helvetica, Arial, sans-serif;   
}   
h2 
{    
font-size:22px;    
font-weight:300;    
color:#aaa;   
}

.button {
background:#333;   
width:100px;   
color:#fff;   
height:20px;   
-moz-border-radius: 20px;   
-webkit-border-radius: 20px;   
-khtml-border-radius: 20px;   
border-radius: 20px;   
text-align:center;
}
.box{
float:left;
width:100px;
height:50px;
background-color:#555;
}
.box1{
float:left;
width:100px;
height:50px;
background-color:#222;
}

h4{
margin-bottom:100px;}

.opacity{
  opacity:0.6;
}
}
